.input {
  height: 4em;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-weight: bolder;
  font-size: 1.4em;
  background-color: #b19ef7;
  color: #0a0a0a;
  flex: 1;
  padding: 0.5em;
  outline: 1px solid #888888;
}
